<h2>Welcome to the Angular App! (Router + NgRx demo)</h2>

<!-- <nav style="margin-bottom: 1rem;">
  <a routerLink="/" style="margin-right: 0.7rem;">About</a>
  <a routerLink="/pipes" style="margin-right: 0.7rem;">Pipes</a>
  <a routerLink="/forms" style="margin-right: 0.7rem;">Forms</a>
  <a routerLink="/signals" style="margin-right: 0.7rem;">Signals</a>
  <a routerLink="/rxjs" style="margin-right: 0.7rem;">RxJS</a>
  <a routerLink="/service" style="margin-right: 0.7rem;">Service</a>
  <a routerLink="/counter" style="margin-right: 0.7rem;">Counter</a>
  <a routerLink="/state-strategy" style="margin-right: 0.7rem;">State Strategy</a>
  <a routerLink="/dynamic" style="margin-right: 0.7rem;">Dynamic Load</a>
  <a routerLink="/i18n" style="margin-right: 0.7rem;">i18n</a>
  <a routerLink="/lazy-feature">Lazy Feature</a>
</nav> -->

<input type="text" placeholder="Type something..." [(ngModel)]="inputValue" />

<img src="assets/img/download.png" alt="Angular Logo" width="200" />
<img [src]="imgSrc" alt="Angular Logo" width="200" />

<p [class]="inputValue ? 'para' : ''">You typed: {{ inputValue }}</p>
<p style="background-color: black; color: white">
  Current date and time: {{ date | date: 'dd-MM-yyyy' }}
</p>

<p>Square root of {{ sqrtValue }} is: {{ sqrtValue | sqrt }}</p>

<button (click)="getCurrentYear('abc')">Update Date</button>

<input (input)="onInputChange($event)" placeholder="Type to see the About component..." />

@if (inputValue.length > 0 && inputValue.length <= 5) {
  <app-about [data]="inputValue">
    <div style="background-color: lightblue; padding: 10px; margin-top: 10px" #content>
      <p>This content is projected from the App component to the About component.</p>
    </div>
  </app-about>
} @else if (inputValue.length > 5) {
  <p>You entered more than 5 characters!</p>
} @else {
  <p>Please enter some text to see the About component.</p>
}

<div
  style="
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
  "
>
  @for (data of imgArray; track data) {
    <div
      style="
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 0.8rem;
        margin: 0.5rem;
        min-width: 250px;
      "
      [ngClass]="{ bgData: data.id % 2 === 0 }"
      [ngStyle]="{ width: winWidth }"
      (mouseenter)="onHover()"
      (mouseleave)="onLeave()"
      [appHighlight]="{ color: data.clr, fontSize: '1.2rem' }"
    >
      <p>{{ data.alt }}</p>
      <img [src]="data.src" [alt]="data.alt" width="100" />
    </div>
  }
</div>

@switch (role) {
  @case ('admin') {
    <p>Welcome, Admin! You have full access.</p>
  }
  @case ('user') {
    <p>Welcome, User! You have limited access.</p>
  }
  @default {
    <p>Welcome, Guest! Please log in to access more features.</p>
  }
}

<app-pipes-demo></app-pipes-demo>

<app-forms-demo></app-forms-demo>

<router-outlet></router-outlet>
